.in{
height: 5em;
width: 5em;
padding: 10px;
margin: 5px;
border-radius: 5%;

}
.op{
height: 5em;
width: 5em;
padding: 10px;
margin: 5px;
border-radius: 5%;
background-color: orange;
}
.inp{
    width: 295px;
    border-radius: 5%;
    height: 30px;
}
.Cal{
    text-align: center;
    box-shadow:40cap;
}