#litem{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li
{
    margin-left: 25px;
    padding: 5px;
    font-size: x-large;
    /*list-style: none;*/
}
#add{
    font-size: x-large;
    margin-left: 10px;
    background-color: rgb(3, 156, 31);
    border-radius: 50px;
    width: 120px;
    height: 45px;
    font-weight: bolder;
}
#edit{   
    font-size: medium;
    margin-left: 10px;
    background-color: rgb(239, 222, 37);
    border-radius: 50px;
    width: 70px;
    height: 30px;
    font-weight: bolder;
}
#delete{
    font-size: medium;
    margin-left: 10px;
    background-color: rgb(229, 11, 11);
    border-radius: 50px;
    width: 70px;
    height: 30px;
    /*font-weight: bolder;*/
}
#input{
    text-shadow: 5px;
    margin-left: 35px;
    border-radius: 20px;
    font-size: 32px;
    border-width: 5px;
    border-color: rgb(244, 237, 237);
}
.container{
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    background-color: rgb(227, 208, 202);
    height:500px;
}
 h2{
    padding-top: 8px;;
    text-align: center;   
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
